<!DOCTYPE html>
<html>
<head>
	<title>Visualization Project - Plots</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->
	<link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>
<body onload="dashboard_func()">

	<div class="topnav" id="myTopnav">

      	<h3 id="plot_heading", class="default-heading">Zombie Houses - NYC</h3>
		<a href="#" class="active">Reset</a>
		<div class="dropdown">
	    	<button class="dropbtn">DOB 
	      	<i class="fa fa-caret-down"></i>
	    	</button>
	    	<div class="dropdown-content" id="dd">
	    		<a href="#" onclick="dob_code_func('1G')">Code: 1G</a>
	      		<a href="#" onclick="dob_code_func('3')">Code: 3</a>
	      		<a href="#" onclick="dob_code_func('4B')">Code: 4B</a>
	      		<a href="#" onclick="dob_code_func('5')">Code: 5</a>
	      		<a href="#" onclick="dob_code_func('9')">Code: 9</a>
	      		<a href="#" onclick="dob_code_func('10')">Code: 10</a>
	      		<a href="#" onclick="dob_code_func('14')">Code: 14</a>
	      		<a href="#" onclick="dob_code_func('15')">Code: 15</a>
	      		<a href="#" onclick="dob_code_func('29')">Code: 29</a>
	      		<a href="#" onclick="dob_code_func('30')">Code: 30</a>
	      		<a href="#" onclick="dob_code_func('55')">Code: 55</a>
	    	</div>
	  	</div> 
	  	<div class="dropdown">
	    	<button class="dropbtn">Tax Class 
	      	<i class="fa fa-caret-down"></i>
	    	</button>
	    	<div class="dropdown-content" id="dd">
	      		<a href="#" onclick="tax_class_func('1')">Class 1</a>
	      		<a href="#" onclick="tax_class_func('2')">Class 2</a>
	      		<!-- <a href="#" onclick="tax_class_both()">Class 1 & 2</a> -->
	    	</div>
	  	</div> 
	  	<a href="#" onclick="lien_sales_func()">Lien Sales</a>
	  	<a href="#">Build Class</a>
	  	<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div id="content">
		<span class="slide">
			<a href="#" onclick="openSlideMenu()">
				<i class="fas fa-bars"></i>
			</a>
		</span>

		<div id="menu" class="nav">
			<a href="#" class="close" onclick="closeSlideMenu()">
				<i class="fas fa-times"></i>
			</a>
			<img src="static/data/pic1.jpg", width="170px", height="170px", class="border">
			<a href="#">About</a>
			<a href="#" onclick="nycMapPlot()">NYC Map</a>
			<a href="#" onclick="bronxMapPlot()">Bronx Map</a>
			<a href="#" onclick="brooklynMapPlot()">Brooklyn Map</a>
			<a href="#" onclick="manhattanMapPlot()">Manhattan Map</a>
			<a href="#" onclick="statenMapPlot()">Staten Island Map</a>
			<a href="#" onclick="queensMapPlot()">Queens Map</a>
		</div>
	</div>
	

	<h3 id="add"></h3><br>
	<h3 id="year"></h3><br>
	<h3 id="depth"></h3><br>
	<h3 id="frontage"></h3><br>
	<h3 id="size"></h3><br>
	<h3 id="story"></h3><br><br>
	<h3 id="lot_depth"></h3><br>
	<h3 id="lot_front"></h3><br>

	<!-- <h2 id="story"></h2><br>
	<h2 id="story"></h2><br>
	<h2 id="story"></h2><br>
	<h2 id="story"></h2><br> -->

	<div id="sliderContainer">
	    <input id="timeslide", class="slider" type="range" min="0" max="7" value="0" step="1"/><br>
	    <span id="range", style="font-weight: bold; font-size: 25px;">2011</span>
	</div>
	
	<script src = "static/functions.js"></script>
	<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
	
	<script src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">
			  	
	</script>


	<script src="static/data/boston_rodents.json"></script>
	<script src="static/data/boston_neighborhoods.json"></script>

	<script src="static/data/robbery.json"></script>

	<script src="static/data/nyc.json"></script>

	<!-- <script src="static/data/nyc_lien_sales.geojson"></script> -->

	<script src="static/data/nyc_boundaries.json"></script>
	<script src="static/data/bronx.json"></script>
	<script src="static/data/brooklyn.json"></script>
	<script src="static/data/manhattan.json"></script>
	<script src="static/data/queens.json"></script>
	<script src="static/data/staten.json"></script>

	<!-- <script src="static/data/liens_and_complaints.geojson"></script> -->


</body>
</html>